img{

height: 200px;
width: 200px;
}
.ndd{
    text-align: center;

}
.ndd{
    color:aqua;
    
}
h{
    color: aquamarine;
}
h4{
    text-align: center;
}
.sheels stark
{
    text-align:center ;
}
.at{
    float: bottom 15px;
padding-bottom: 15x;
}
.card-img-bottom{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.ajay{
    text-transform: capitalize;
}
.dhanush{
text-align: center;
}
